
nav {  
  	color: #fff;
    background-color: #efefef;
    width: 100%;
    overflow: overlay
  }

.navbar > a {
	margin-bottom: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	display: inline-block
}

.navbar {
  	padding-top: 20px;
  	padding-bottom: 20px;
  	padding: 20px;
 	margin-left: auto;
 	margin-right: auto;
	background-color: #efefef;
}
.logo img{
	width: 50%;
	max-width: 1000px;
	min-width: 350px;
	height: auto;
	padding-bottom: 50px;
	padding-top: 60px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.divider {
	background-color: #505050;
	padding-top: 5px;
}

.content {
	padding-top: 50px;
}

.content img{
	max-width: 350px;
	width:100%;
	height: auto;
}

.section {
	padding-bottom: 80px;
}

.section img {
	padding-top: 20px;
}

.info{
	font-size: 20px;
}

footer a {
	padding-right: 10px;
}

iframe {
	position: inherit;
	width: 100%; 
	height: 100%
}




/* Headers and Fonts */

@font-face {
  font-family: "Open Sans";
  src: url(https://fonts.googleapis.com/css?family=Open+Sans);
}

html {
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
}

h1 {
	font-size: 4.2rem;
	line-height: 110%;
	margin: 2.1rem 0 1.68rem 0;
}

h2 {
	
	font-size: 40px;
	font-weight: bold;
}



/* Navigation bar button */

.btn {
   border: none;
   border-radius: 1px;
   display: inline-block;
   height: 36px;
   font-weight: medium;
   line-height: 36px;
   padding: 0 1em;
}


/* Box */

.box {
	border-radius: 8px;
	border: solid;
	margin-bottom: 2em;
	padding: 1.5em;
}

.box.alt {
	border: 0;
	border-radius: 0;
	padding: 0;
}


/* Images */

.image {
	border-radius: 8px;
	border: 0;
	display: inline-block;
	position: relative;
}

.image img {
	border-radius: 8px;
	display: block;
}

.image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
}