
nav {  
  	color: #fff;
    background-color: #efefef;
    width: 100%;
    overflow: overlay
  }

.navbar > a {
	margin-bottom: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	display: inline-block
}

.navbar {
  	padding-top: 20px;
  	padding-bottom: 20px;
  	padding: 20px;
 	margin-left: auto;
 	margin-right: auto;
	background-color: #efefef;
}

.logo img{
	width: 50%;
	max-width: 1200px;
	min-width: 350px;
	height: auto;
	padding-bottom: 5px;
	padding-top: 30px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.divider {
	background-color: #505050;
	padding-top: 5px;
}

.content {
	padding-top: 20px;
	padding-bottom: 0px;

}

.content img{
	max-width: 350px;
	width:100%;
	height: auto;
}

.section {
	padding-bottom: 80px;
}

.section img {
	padding-top: 20px;
}

.info{
	font-size: 20px;
}

iframe {
	position: inherit;
	width: 100%; 
	height: 100%
}

/* Headers and Fonts */

@font-face {
 	font-family: 'Nunito';
  	src: url(https://fonts.googleapis.com/css?family=Nunito);
}

html {
	line-height: 1.5;
	font-family: 'Nunito', sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
}

body {
	padding-bottom: 50px;
}

h2 {
	font-size: 40px;
	font-weight: bold;
}

h4 {
	line-height: 150%;
	font-size: 18pt;
}

h5 {
	font-size: 18px;
	margin: 5px 5px 5px 5px;
	line-height: 150%;
	color: #6E6D6D;
}

h6 {
	font-size: 16px;
	margin: 5px 5px 5px 5px;
	line-height: 150%;
	color: #6E6D6D;
}

@media only screen and (max-width: 480px) {
  h4 {
  	font-size:10pt;
  }
}

@media only screen and (max-width: 480px) {
  h6 {
  	font-size:6pt;
  }
}

p {
	margin-top: 0px;
	margin-bottom: 20px;
}

.section {
	padding-top: 30;
	padding-bottom: 0;

}

/* Navigation bar button */

.btn {
   border: none;
   border-radius: 1px;
   display: inline-block;
   height: 36px;
   font-weight: medium;
   line-height: 36px;
   padding: 0 1em;
}

/* Officer Images */

.image {
	border-radius: 8px;
	border: 0;
	display: inline-block;
	position: relative;
}

.image img {
	border-radius: 8px;
	display: block;
	padding-top: 0px;
}

.image.fit {
	
	margin: 0 0 2em 0;
	width: 100%;
	position:relative;
}

.image:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-radius: 8px;
}

.image:hover:after {
    opacity:1;
    border-radius: 8px;
}

.image-text {
	position:absolute;
	bottom:0; 
	font-size:12pt;
	color: #fff; 
	padding-top: 20px;
	padding-right: 2pt;
	padding-left: 2pt;
	width:100%; 
	height: 100%;
	text-align:center;
	vertical-align: center;
	opacity: 0;
	z-index: 100;
}

.image-text.name {
	font-size:15pt;
	font-weight: bold;
}

.image.fit:hover > .image-text {
	opacity: 1;
}

.calendar {
	height: 50%;
}
@media only screen and (max-width: 480px) {
  .image-text.name {
  	font-size:10pt;
  }
}